.table td {
   text-align: center;   
}

.table-hd {
    font-weight: bold;
}

.fade {
   opacity: .5;
   transition: opacity .1s ease-in-out;
   -moz-transition: opacity .1s ease-in-out;
   -webkit-transition: opacity .1s ease-in-out;
   }

   .fade:hover {
      opacity: 1;
      }

.label {
    font-weight: 100;
}

.table {
    margin-bottom: 0px;
}